<total-errors [form]="myForm"></total-errors>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <table border="1">
        <tr>
            <th>Nombre * </th>
            <th>Email *</th>

            <th>Teléfono</th>
            <th>Cod Referencia *</th>
            <th>Concepto</th>
            <th>Importe *</th>

            <th>opciones</th>
        </tr>
        <tr *ngFor="let item of rows; let i = index">
            <td formGroupName={{i}}>
              <validator-messages
                [options] = "{
                    errors   : collectionControl[i]['name'].errors,
                    element  : collectionControl[i]['name'],
                    submitted: true,
                    messages : this.configMessages.name
                 }">
               <input type="text"
                      formControlName="name">
              </validator-messages>
            </td>

            <td formGroupName={{i}}>
              <validator-messages
                [options] = "{
                    errors   : collectionControl[i]['email'].errors,
                    element  : collectionControl[i]['email'],
                    submitted: true,
                    messages : this.configMessages.email
                }">
               <input type="text"
                      formControlName="email">
              </validator-messages>
            </td>

            <td formGroupName={{i}}>
              <validator-messages
                [options] = "{
                    errors   : collectionControl[i]['phone'].errors,
                    element  : collectionControl[i]['phone'],
                    submitted: true,
                    messages : this.configMessages.phone
                }">
               <input type="text"
                      formControlName="phone">
              </validator-messages>
            </td>

            <td formGroupName={{i}}>
              <validator-messages
                [options] = "{
                    errors   : collectionControl[i]['reference'].errors,
                    element  : collectionControl[i]['reference'],
                    submitted: true,
                    messages : this.configMessages.reference
                }">
               <input type="text"
                      formControlName="reference">
              </validator-messages>
            </td>

            <td formGroupName={{i}}>
              <validator-messages
                [options] = "{
                    errors   : collectionControl[i]['concept'].errors,
                    element  : collectionControl[i]['concept'],
                    submitted: true,
                    messages : this.configMessages.concept
                }">
               <input type="text"
                      formControlName="concept">
              </validator-messages>
            </td>

            <td formGroupName={{i}}>
              <validator-messages
                [options] = "{
                    errors   : collectionControl[i]['import'].errors,
                    element  : collectionControl[i]['import'],
                    submitted: true,
                    messages : this.configMessages.import
                }">
               <input type="text"
                      formControlName="import">
              </validator-messages>
            </td>

            <td>
                <a href="javascript:;" (click)="deleteContent(i)"> Eliminar </a>
            </td>

        </tr>
    </table>

    <button type="submit"> Guardar </button>

    <div>{{stringify( myForm.value , null, 2)}}</div>
</form>
