<div class="form-control" [ngClass]="{'form-control_error': isErrors}">
    <ng-content></ng-content>
    <div class="form-control__message" *ngIf="isErrors">
        {{ errorMessage }}
    </div>
</div>
